<%- include('../partials/header'); %>
      <div class="col-lg-12 col-md-12 col-sm-12">
      <img style="margin-left:70px;margin-top:20px;margin-bottom:20px;" src="../partials/images/erroe.jpg" height="600px" width="90%"/>
    </div>
    </body>
 
    <%- include("../partials/footer"); %>