<%- include('../partials/header'); %>
<style>
   body{   
    background-color: rgb(255, 255, 255)!important;
  }
</style>
<h3 style="margin-left:570px;margin-top:60px;">Your Transiction ID is : <%= tid %></h3>
<div class="container">
<div style="margin-left:350px;margin-bottom:20px;"><img src="../partials/images/success.gif" width="600px" height="400px">
</div>
</div>
   <%- include("../partials/footer"); %>